cloud_name     = "tf-secure-baseline"
environment    = "staging"
primary_region = "us-east-1"

################################################################
# GitHub-related variables
################################################################
owner_github                    = "jeffrey-williams"
repo_github                     = "terraform-secure-baseline"
enable_github_oidc              = true
enable_apply_role_github        = true
branches_plan_github            = ["main"]
branches_apply_github           = ["main"]
allow_pull_requests_plan_github = true
environment_apply_github        = "staging"
tf_state_bucket_arn             = "arn:aws:s3:::tf-secure-baseline-staging-state"
tf_state_bucket_cmk_arn         = arn:aws:kms:us-east-1:123456789012:key/lgd3gzd6-a0l0-04oa-1exu-aj4lj9272d0d