# Required stack configuration

cloud_name     = "tf-secure-baseline"
environment    = "security-operations"
primary_region = "us-east-1"
account_id     = "123456789012"


# Security Hub CSPM central organization configuration

enable_securityhub_organization_configuration = true

securityhub_cspm_account_policies = {
  dev = {
    create_policy    = true
    associate_policy = true

    enabled_standards = [
      "aws_fsbp",
      "cis_5_0",
    ]

    disabled_control_identifiers = []
  }

  staging = {
    create_policy    = true
    associate_policy = true

    enabled_standards = [
      "aws_fsbp",
      "cis_5_0",
    ]

    disabled_control_identifiers = []
  }

  prod = {
    create_policy    = true
    associate_policy = true

    enabled_standards = [
      "aws_fsbp",
      "cis_5_0",
    ]

    disabled_control_identifiers = []
  }
}


# GuardDuty central organization configuration

enable_guardduty_organization_configuration = true

guardduty_organization_features = {
  S3_DATA_EVENTS = {
    auto_enable = "ALL"
  }

  EBS_MALWARE_PROTECTION = {
    auto_enable = "ALL"
  }

  LAMBDA_NETWORK_LOGS = {
    auto_enable = "ALL"
  }

  RUNTIME_MONITORING = {
    auto_enable = "ALL"

    additional_configuration = [
      {
        name        = "ECS_FARGATE_AGENT_MANAGEMENT"
        auto_enable = "NONE"
      },
      {
        name        = "EC2_AGENT_MANAGEMENT"
        auto_enable = "ALL"
      },
      {
        name        = "EKS_ADDON_MANAGEMENT"
        auto_enable = "NONE"
      },
    ]
  }
}


# Security Hub V2 organization policy

enable_securityhub_v2_organization_policy = true