securityhub_cspm_account_policies = {
  dev = {
    create_policy    = true
    associate_policy = true
    enabled_standard_keys = [
      "aws_fsbp",
      "cis_5_0"
    ]
    disabled_control_identifiers = []
  }

  staging = {
    create_policy    = true
    associate_policy = true
    enabled_standard_keys = [
      "aws_fsbp",
      "cis_5_0"
    ]
    disabled_control_identifiers = []
  }
}