################################################################
# 'Prod' workload inputs
################################################################

cloud_name     = "tf-secure-baseline"
environment    = "prod"
primary_region = "us-east-1"

deployment_profile = "production"

secops_emails = [
  "jeffrey.williams@gmail.com"
]

bucket_admin_principals = [
  "arn:aws:iam::123456789012:root",
  "arn:aws:iam::123456789012:role/tf-secure-baseline-prod-github-apply-role"
]

break_glass_trusted_principal_arns = [
  "arn:aws:iam::0123456789012:root"
]