cloud_name = "tf-secure-baseline"

identity_center_workloads = {
  "dev" = {
    account_id     = "333333333333"
    primary_region = "us-east-1"
  }

  "staging" = {
    account_id     = "444444444444"
    primary_region = "us-east-1"
  }

  "prod" = {
    account_id     = "555555555555"
    primary_region = "us-east-1"
  }
}

identity_center_secops = {
  account_id = "222222222222"
}
