primary_region_dev = "us-east-1"
account_id_dev     = "0123456789012"

primary_region_prod = "us-east-1"
account_id_prod     = "0123456789012"

primary_region_staging = "us-east-1"
account_id_staging     = "0123456789012"