#####################################
## GIT WORKFLOW FOR CI/CD PIPELINE ##
#####################################

name: Terraform CI/CD Pipeline

permissions:
  contents: read

on:
  push:
    paths:
      - '**.tf'
  pull_request:
    paths:
      - '**.tf'

jobs:
  terraform_static_analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.4

      - name: Terraform Format Check
        run: terraform fmt -check -recursive

      - name: Terraform Init (no backend)
        run: terraform init -backend=false

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -no-color

      - name: Install tflint
        uses: terraform-linters/setup-tflint@v4

      - name: Initialize and Run tflint
        run: tflint --init && tflint -f compact

      - name: Install Checkov
        run: pip install checkov

      - name: Run Checkov scan
        run: |
          checkov -d . --severity HIGH,CRITICAL

      - name: Upload Scan Results
        uses: actions/upload-artifact@v4
        with:
            name: ci-evidence
            path: .